h1  {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

p  {
    text-align: center;
}

a {
    text-align: center;
}

.lien {
    position:absolute;
    left: 56%;
    top: 47.8%;
    margin-left: -28px;
    margin-top: -23.5px;
}
